<div class="container">
  <div *ngFor="let item of itens$" class="card">
    <div class="card-header">
      <a href="{{ item.url }}" target="_blank" class="badge badge-light">{{ getHostName(item.url) }}</a> 
    </div>
    <div class="card-body">
      <h4 class="card-title"><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></h4>
      <p class="card-text">{{ item.score }} pontos | by {{ item.by }} | {{ item.descendants }} comentários</p>
      <a href="#" class="btn btn-info">Acessar Comentários</a>
    </div>
  </div>
</div>